<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @book.publication_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-dark" %>
<%= link_to 'Back', books_path, class:"btn btn-dark" %>
